@model IEnumerable<AISW_Web.Models.LinkGroup>

<div class="jumbotron">
    <div class="container">
        <h1>Microsoft AI Day</h1>
        <p>Learn about Microsoft AI Services</p>
        <p class="hidden-xs">Get hands on experience with Cognitive Services, Bot Services, Machine Learning Services and Azure</p>
        <p class="hidden-xs">Get excited and inspired</p>
    </div>
</div>

<section id="Intro">
    <div class="container-fluid sequence-background-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>What is the Microsoft AI Day?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <p>AI is a key topic right now and Microsoft are one of the key players.</p>
                    <p>This workshop is aimed at regular developers who are keen to learn how they can use Microsoft AI services to create amazing applications.</p>
                    <p>The day will be split into several sessions which comprise part presentation and part lab so bring your laptop to fully take part (see <a href="#Setup">Setup</a> to make sure your laptop is setup ahead of the day).</p>
                    <p>At the end of this workshop, you’ll have working knowledge and your own set of samples for how to build Microsoft AI services into your applications.</p>
                </div>
                <div class="col-md-5">
                    <img src="~/images/audience.jpg" class="img-responsive hidden-xs" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Agenda">
    <div class="container-fluid sequence-background-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Agenda</h2>
                    <p>We run this day to several different agendas depending on the audience size and time avaliable.</p>
                    <p>If you are unsure which type of event you are at, please ask a Microsoft representative.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Standard Agenda</h4>
                            <p>09:30: Registration & refreshments</p>
                            <p>10:00: <a data-toggle="modal" href="#aiPlatformModal" class="button"><strong>Microsoft AI Platform</strong></a></p>
                            <p>10:45: <a data-toggle="modal" href="#visionModal" class="button"><strong>Computer Vision Services</strong></a></p>
                            <p>11:30: Break</p>
                            <p>11:45: <a data-toggle="modal" href="#botsModal" class="button"><strong>Bots & Conversational Applications</strong></a></p>
                            <p>12:45: Lunch</p>
                            <p>13:45: <a data-toggle="modal" href="#knowledgeModal" class="button"><strong>Knowledge Services</strong></a></p>
                            <p>14:45: <a data-toggle="modal" href="#speechModal" class="button"><strong>Language and Speech Services</strong></a></p>
                            <p>15:30: Break</p>
                            <p>15:45: <a data-toggle="modal" href="#mlModal" class="button"><strong>Machine Learning</strong></a></p>
                            <p>16:45: Summary</p>
                            <p>17:00: Close</p>
                        </div>
                        <div class="col-md-6">
                            <h4>Agenda with envisioning</h4>
                            <p>08:30: Registration & refreshments</p>
                            <p>09:00: <a data-toggle="modal" href="#aiPlatformModal" class="button"><strong>Microsoft AI Platform</strong></a></p>
                            <p>09:45: <a data-toggle="modal" href="#visionModal" class="button"><strong>Computer Vision Services</strong></a></p>
                            <p>10:30: Break</p>
                            <p>10:45: <a data-toggle="modal" href="#botsModal" class="button"><strong>Bots & Conversational Applications</strong></a> </p>
                            <p>11:45: <a data-toggle="modal" href="#knowledgeModal" class="button"><strong>Knowledge Services</strong></a> </p>
                            <p>12:30: Lunch</p>
                            <p>13:15: <a data-toggle="modal" href="#speechModal" class="button"><strong>Language and Speech Services</strong></a> </p>
                            <p>14:00: <a data-toggle="modal" href="#mlModal" class="button"><strong>Machine Learning</strong></a> </p>
                            <p>14:45: <a data-toggle="modal" href="#summaryModal" class="button"><strong>Summary & Envisioning Intro</strong></a> </p>
                            <p>15:00: Break</p>
                            <p>15:15: <a data-toggle="modal" href="#envisioningModal" class="button"><strong>Envisioning</strong></a></p>
                            <p>17:00: Close</p>
                        </div>
                    </div>

                    <div class="modal fade" id="aiPlatformModal" tabindex="-1" role="dialog" aria-labelledby="aiPlatformModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Microsoft AI Platform</h3>
                                </div>
                                <div class="modal-body">
                                    <p>There is an arms race in the world of artificial intelligence. Microsoft, IBM, Amazon and Google are the players and the prize is the next big technology revolution.</p>
                                    <p>Mainstream AI is here and in this session, we'll start to look at the broad range of AI technology Microsoft has to offer.</p>
                                    <p>This will be mainly presentation driven, but we will have a lab which covers getting you setup on Azure to support the rest of the day's activities.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close <i class="fa fa-times-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="visionModal" tabindex="-1" role="dialog" aria-labelledby="visionModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Computer Vision Services</h3>
                                </div>
                                <div class="modal-body">
                                    <p>There is a wealth of information contained in images. Microsoft’s computer vision services help us to understand that visual data as text, by providing captions, recognizing handwritten text, and identifying emotions.</p>
                                    <p>In this session we’ll explore what is possible with the vision based APIs, and see how they’re used in real-world applications.</p>
                                    <p>This session will be part presentation and part lab.</p>
                                    <p>Key technologies include:</p>
                                    <ul>
                                        <li>Face API with Black Radley</li>
                                        <li>Computer Vision API</li>
                                        <li>Custom Vision API with Makaton</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close <i class="fa fa-times-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="botsModal" tabindex="-1" role="dialog" aria-labelledby="botsModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Bots & Conversational Applications</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Bots are a new type of App. One which fundamentally changes we the way we interact with our devices.</p>
                                    <p>Bots will lead to a world where we are using natural language to interact with device and services.</p>
                                    <p>Microsoft are investing heavily in bots with the Microsoft Bot Framework and Azure Bot Service. In this talk we'll look at what a bot is, design patterns for bots and the Microsoft Bot Framework which lets you write a single bot that is published to multiple social channels such as Skype, Facebook and Slack.</p>
                                    <p>We'll also look at the Language Understanding service which is used to design natural language processing models which help bots understand what the user is asking.</p>
                                    <p>This session will be part presentation and part lab.</p>
                                    <p>Key technologies include:</p>
                                    <ul>
                                        <li>Bot Framework</li>
                                        <li>Azure Bot Service</li>
                                        <li>Language Understanding Intelligence Services (LUIS) with NHS Belfast Trust</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close <i class="fa fa-times-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="knowledgeModal" tabindex="-1" role="dialog" aria-labelledby="knowledgeModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Knowledge Services</h3>
                                </div>
                                <div class="modal-body">
                                    <p>In this session we'll look at the knowledge-based cognitive services.</p>
                                    <p>These services help you use data and knowledge to do things like recommendations, personalized content and natural language based search and FAQs.</p>
                                    <p>After this session you will have working knowledge of how to configure and call the knowledge APIs as well as some tips and best practices.</p>
                                    <p>This session will be part presentation and part lab.</p>
                                    <p>Key technologies include:</p>
                                    <ul>
                                        <li>Cortana Recommendations Solution with JD Sports</li>
                                        <li>Q&A Maker with Innocent drinks</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close <i class="fa fa-times-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="speechModal" tabindex="-1" role="dialog" aria-labelledby="speechModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Language & Speech Services</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Users are becoming used to the idea of speaking to a device via services like Alexa, Siri and Cortana, but how do you make sure you app (website, bot, mobile app) can join in the fun?</p>
                                    <p>In this session we'll explore a set of Microsoft Cognitive Services which enable voice-to-text and text-to-voice services as well as being able to translate and analyse text.</p>
                                    <p>These services can make sure your apps understand what your user is saying, even when they are actually saying it.</p>
                                    <p>This session will be part presentation and part demo (no labs).</p>
                                    <p>Key technologies include:</p>
                                    <ul>
                                        <li>Bing Speech</li>
                                        <li>Custom Speech</li>
                                        <li>Translator</li>
                                        <li>Text Analytics</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close <i class="fa fa-times-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="mlModal" tabindex="-1" role="dialog" aria-labelledby="mlModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Machine Learning</h3>
                                </div>
                                <div class="modal-body">
                                    <p>All of the AI services we have covered in today's workshop have been built using machine learning.</p>
                                    <p>In this session we'll cover some of the core principles of machine learning and looks at some of the tools and technologies we have to enable your own machine learning experiments with your own data.</p>
                                    <p>In the lab we'll work through a machine learning problem using the high-level ML Studio interface.</p>
                                    <p>This session will be part presentation and part lab.</p>
                                    <p>Key technologies include:</p>
                                    <ul>
                                        <li>Azure Machine Learning with ML Studio</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close <i class="fa fa-times-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="summaryModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Summary & Envisioning Introduction</h3>
                                </div>
                                <div class="modal-body">
                                    <p>In this session we'll summarise what we've learnt during the day, go through calls to action and introduce the final section of the day; envisioning.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close <i class="fa fa-times-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="envisioningModal" tabindex="-1" role="dialog" aria-labelledby="envisioningModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Envisioning</h3>
                                </div>
                                <div class="modal-body">
                                    <p>This section of the day will be reserved to allow time for each organisation to work 1:1 with a Microsoft experts to envision the sorts of solutions you might be able to build using the technology discovered during the day.</p>
                                    <p>In this section we'll also discuss how Microsoft can potentially support you with rapid prototyping and proof-of-concept 'hacks' to jump-start your projects.</p>
                                    <p>This section will be a breakout style open discussion and each group will be assigned a Microsoft software engineer to work with.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close <i class="fa fa-times-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<section id="Dates">
    <div class="container-fluid sequence-background-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Dates and Location</h2>
                    <p>The AI Day is happening several times in 2018 in specific locations and for specific groups.</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Event</td>
                                <td>Register</td>
                            </tr>
                        </thead>
                        <tr>
                            <td>1st March, Birmingham. Standard agenda with Fusion Birmingham community meetup</td>
                            <td>Event already happened</td>
                        </tr>
                        <tr>
                            <td>10th April, Dublin. Agenda with envisioning (by invitation only)</td>
                            <td>Event already happened</td>
                        </tr>
                        <tr>
                            <td>16th April, London. Standard agenda for start-ups</td>
                            <td>Event already happened</td>
                        </tr>
                        <tr>
                            <td>15th May, London. Standard agenda for ISVs</td>
                            <td>Event already happened</td>
                        </tr>
                        <tr>
                            <td>22nd June, Reading. Standard agenda for a specific UK government department (by invitation only)</td>
                            <td><a href="https://www.microsoftevents.com/profile/form/index.cfm?PKformID=0x4256609abcd">Register Here</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Setup">
    <div class="container-fluid sequence-background-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Setup</h2>
                    <p>Half of the workshop is lab-based so it is important that you bring a laptop (PC or Mac) with you so you can participate fully.</p>
                    <p>In order to take part in the labs, you should have your laptop setup before you arrive. There will be no time during the workshop itself to do this.</p>
                    <p>These are the things you'll need to have setup. If you need help with any of this you can follow a more detailed step-by-step guide via the <a href="https://github.com/martinkearn/AI-Services-Workshop/blob/master/Setup/Setup-Lab.md">Setup Lab</a>.</p>
                    <h4>Hardware</h4>
                    <ul>
                        <li>A PC or Mac</li>
                        <li>Nice to have: A second screen to run the labs (i.e. Tablet, Second laptop, Virtual Desktops in Windows 10, Spaces in Mac OSX), a webcam (built in is fine)</li>
                    </ul>
                    <h4>Software</h4>
                    <ul>
                        <li>Visual Studio Code. <a href="https://code.visualstudio.com">Download here</a></li>
                        <li>GitHub desktop software. <a href="https://desktop.github.com">Download here</a></li>
                        <li>Slack Desktop. <a href="https://slack.com/downloads/windows">Download here</a></li>
                        <li>Nice to have: TOR browser which may be required to get round venue proxy related DOS issues. <a href="https://www.torproject.org/projects/torbrowser.html.en">Download here</a></li>
                    </ul>
                    <h4>Service / Online</h4>
                    <ul>
                        <li>Microsoft Account (outlook, hotmail or similar). Must not be a school or organisation account and must not have previously had an Azure trial associated with it. <a href="https://account.microsoft.com/account">Sign up here</a></li>
                        <li>Microsoft Azure subscription with permissions to create resources. If you don't already have an Azure subscription, <a href="https://github.com/martinkearn/AI-Services-Workshop/blob/master/Setup/Azure-Lab.md">follow this guide</a> to get setup with a trial.</li>
                        <li>GitHub account. <a href="https://github.com/join">Sign up here</a></li>
                        <li>Clone this GitHub respoitory: <a href="https://github.com/martinkearn/AI-Services-Workshop">https://github.com/martinkearn/AI-Services-Workshop</a></li>
                        <li>Join the 'AIServicesWorkshop.Slack.com' workspace via this link <a href="https://join.slack.com/t/aiservicesworkshop/shared_invite/enQtMzI1MjgxNDY0NTc2LTk0NmQ4NDdlNWFiMWM3YTA3NDA2ZDJjMGE0NmI2ZTg0NTk4NDg2ZmJkNWYyNWI5ZTBiZTNjNmZmM2ZlOGI2Y2Q">Join Slack</a></li>
                    </ul>
                    <h4>Skills / Experience</h4>
                    <p>Useful to have entry-level knowledge of JavaScript/Node or C#. This is only required to participate in some labs, and is not essential.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="Survey">
    <div class="container-fluid sequence-background-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Survey</h2>
                    <p>At the end of the day, it is really important that we get your feedback so that we can continually improve the workshop.</p>
                    <p>Please complete this short 10 question survey to share your feedback and comments</p>
                    <p><a href="http://aiday.info/survey" class="btn btn-default btn-default">Start Survey <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="Contact">
    <div class="container-fluid sequence-background-6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Contact Us</h2>
                    <p>If you have any questions, before or after the event, please <a href="mailto:martin.kearn@microsoft.com?subject=Enquiry%20from%20AIDay">email us</a>.</p>
                    <p>If you have questions during an event please use <a href="https://aiday.info/slack">Slack</a> or <a href="https://twitter.com/search?f=tweets&q=%23msaiday&src=typd">Twitter using #MSAIDay</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Links">
    <div class="container-fluid sequence-background-7">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Links</h2>
                    <p>Throughout the workshop we'll reference various online resources. To help you get to these resources, we've created a link shortener as part of this website which lists all the registered links here for quick reference.</p>
                    @foreach (var linkGroup in Model)
                    {
                        <h4>@linkGroup.Category</h4>
                        <ul>
                            @foreach (var link in linkGroup.Links)
                            {
                                <li><a href="@link.Url" data-toggle="tooltip" data-placement="top" title="@link.Label; @link.Description">@link.Label</a></li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</section>